<h1>About the Blogs - ADT Assignment 1 </h1>
<h4>
    <p>This assignment is to create and design a MongoDB based backend system for a blogging platform. Created a database schema to store blog posts,
    user accounts, and comments, and then build a basic RESTful API to interact with the database.</p></h4>

   <h3> <p>Database Schema Design: (3 points)</h3>
        Design a MongoDB schema to store the following entities: (can create minimum of 3 schema as
        per you define the platform)
         User: Information about registered users, including username, email, password (hashed
        for security), and registration date.
         BlogPost: Details of individual blog posts, including title, content, author (reference to a
        user), creation date, and optional tags or categories.
         Comment: Comments made on blog posts, including the commenter's name, comment
        text, creation date, and reference to the associated blog post.
        API Development: (3 Points)</p>
    
 <h3>   <p>Implement a RESTful API (e.g., Express.js) that allows users to perform the following operations:</h3>
     User registration and authentication.
     Create, read, update, and delete blog posts.
     List all blog posts, optionally filtered by tags or categories.
    Data Population: (1.5 points)
    Create a script to populate the database with sample users, blog posts, and comments. Add, read,
    and delete comments on blog posts.</p></h3>