<div class="author">
<h1 class="author_heading">Hi, I am Shivasree.</h1>
<p class="author__body">This is my Blog Page</p>
</div>
<img src="/images/background1.png" alt="back-image" class="back-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
              <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span> 
              </a>
              <span class="article-list__date"> 
                <a href="/commentPage">Click to all view Comments</span></a>
            </li>

          <% }) %>
        </ul>
        <% if (nextPage !== null) { %>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
          <% } %>
  

    </section>